@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  background-image: url('/9vry.gif');
  background-size: cover;  
  background-position: center;
  /* Add any additional styling as needed */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply animation to the background element */
.animate-background {
  animation: gradientAnimation 5s infinite;
}

.text-default {
  color: #fff;
}
.layout {
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}

.content {
  flex: 1;
  padding: 1rem;
}

@layer utilities {
  .bg-gradient-textgradient {
    background: linear-gradient(var(--gradient-textgradient));
  }
}
